<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@6.1.7/index.global.min.js"></script>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <!-- Left Column (Recently Introduced and Recent Actions) -->
        <div class="col-lg-3 left-col">
          <!-- Recently Introduced -->
          <div class="row h-50">
            <div class="col-12 border p-3 recently-introduced-container">
              <div class="d-flex flex-column h-100">
                <h2 class="sticky-heading">Recently Introduced</h2>
                <!-- Recently Introduced Table -->
                <div class="table-container">
                  <table class="table table-striped table-hover recently-introduced" id="recently-introduced-table">
                    <thead class="sticky-header">
                      <tr>
                        <th scope="col">Bill #</th>
                        <th scope="col">St</th>
                        <th scope="col">Short Subject</th>
                        <th scope="col">Introduced</th>
                      </tr>
                    </thead>
                    <tbody id="recently-introduced-table-body">
                      <!-- Body Populates -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Recent Actions -->
          <div class="row h-50">
            <div class="col-12 border p-3 recent-actions-container">
              <div class="d-flex flex-column h-100">
                <h2 class="sticky-heading">Recent Actions</h2>
                <!-- Recent Actions Table -->
                <div class="table-container">
                  <table class="table table-striped table-hover recent-actions">
                    <thead class="sticky-header">
                      <tr>
                        <th scope="col">Bill #</th>
                        <th scope="col">St</th>
                        <th scope="col">Short Subject</th>
                        <th scope="col">Latest Action</th>
                      </tr>
                    </thead>
                    <tbody id="recent-actions-table-body">
                      <!-- Body Populates -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Middle Column (Bill Data) -->
        <div class="col-lg-6 middle-col">
          <div class="row h-40">
            <div class="col-md-12">
              <h2>Bill Data <button id="latestBillBtn" class="btn btn-primary">View Latest Bill</button>
                <button id="openStatesBtn" class="btn btn-secondary">Open States</button>
              </h2>
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Selected Bill #: <span id="selectedBillNumber"></span>
                  </h3>
                  <p class="card-text">
                    <strong>State:</strong>
                    <span id="selectedBillState"></span>
                    <br>
                    <strong>Session:</strong>
                    <span id="selectedBillSession"></span>
                    <br>
                    <strong>Introduced:</strong>
                    <span id="selectedBillIntroduced"></span>
                    <br>
                    <strong>Latest Action:</strong>
                    <span id="selectedBillLatestAction"></span>
                    <br>
                    <strong>Latest Action Date:</strong>
                    <span id="selectedBillLatestActionDate"></span>
                    <br>
                    <strong>Primary Sponsor:</strong>
                    <span id="selectedBillPrimarySponsor"></span>
                    <br>
                    <strong>Subject:</strong>
                    <div id="selectedBillSubjectDiv" style="max-height: 40px; overflow-y: auto;">
                      <span id="selectedBillSubject"></span>
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row h-60">
            <div class="col-md-12">
              <div class="tab">
                <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'summary')">Summary</button>
                <button class="tablinks" onclick="openTab(event, 'crypto-impact')">Crypto Impact</button>
                <button class="tablinks" onclick="openTab(event, 'dcta-analysis')">DCTA Analysis</button>
                <button class="tablinks" onclick="openTab(event, 'letter')">Letter</button>
                <button class="tablinks" onclick="openTab(event, 'notes')">Notes</button>
              </div>
              <div id="summary" class="tabcontent">
                <h3>Summary <button id="analyzeBtn" class="btn btn-primary">Analyze</button> </h3>
                <div class="card">
                  <div class="card-body" is="dmx-repeat" id="repeat2">
                    <h4 class="card-title" id="selectedBilltimestamp">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div id="crypto-impact" class="tabcontent">
                <h3>Crypto Impact</h3>
                <div class="card">
                  <div class="card-body" is="dmx-repeat" id="repeat2">
                    <h4 class="card-title" id="selectedBilltimestamp">Date</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div id="dcta-analysis" class="tabcontent">
                <h3>DCTA Analysis</h3>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select an option
                  </button>
                  <div class="card">
                    <div class="card-body" is="dmx-repeat" id="repeat2">
                      <h4 class="card-title" id="selectedBilltimestamp">Date</h4>
                        <p class="card-text" id="selectedBillDCTAAnalysis" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="letter" class="tabcontent">
                <div class="row">
                     <div class="col-12"
                        <h3>Letter <button id="createLetterbtn" class="btn btn-primary">Create Letter</button>
                        </h3>
                  </div>
                <div class="row">
                   <div class="col-6">
                      <p>list of letters</p>
                   </div>
                   <div class="col-6">
                     <p>Letter Preview</p>
                   </div>
                </div>
            </div>
              <div id="notes" class="tabcontent">
                <div class="row">
                     <div class="col-8">
                       <h3>Notes</h3>
                       <p>Enter notes or any upcoming status.....</p>
                       <input id="text1" name="text1" type="text" class="form-control"><button id="btn1" class="btn">Submit</button>
                      <div class="card">
                        <div class="card-body" is="dmx-repeat" id="repeat2">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                     </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
        <!-- Right Column (Search) -->
        <div class="col-lg-3 right-col">
          <div class="row h-50">
            <div class="col-12 border p-3">
              <h5>Last Updated: <span id="selectedBillLastModified"></span>
              </h5>
              <h2>Search </h2>
              <input type="text" id="search-input" class="form-control" placeholder="Search...">
              <button id="search-button" class="btn btn-primary mt-2">Search</button>
              <div class="table-container">
                <table class="table table-striped table-hover recently-introduced" id="search-results-table">
                  <!-- Your search results table structure -->
                  <thead class="sticky-header">
                    <tr>
                      <th scope="col" class="sortable">Bill #</th>
                      <th scope="col" class="sortable">St</th>
                      <th scope="col" class="sortable">Subject</th>
                      <th scope="col">Latest Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- The table body will be populated by JavaScript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row h-50">
            <div class="col-12 border p-3">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <dmx-calendar id="calendar1" views="dayGridMonth,dayGridWeek,dayGridDay"></dmx-calendar>
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>